/* ── Layout ── */
body {
    background-color: #0c0c0c;
    color: #F2F2F0;
    font-family: 'Barlow Condensed', sans-serif;
}

main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1.5rem 2rem;
    gap: 1rem;
}

/* ── Title ── */
main > .game-title {
    max-width: 320px;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
}

/* ── "Question n of n" ── */
main > .progress-tracker {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

.question-card {
    background-color: #303030;
    border-radius: 1rem;
    padding: 1.75rem 1.25rem;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

.question-card > h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.correct-response {
    color: #9EFD62;
    font-size: 2rem;
}

.incorrect-response {
    color: #FF4545;
    font-size: 1.75rem;
}

.artist-name {
    color: #ffff4b;
}

.question-card > p {
    margin-bottom: 0.75rem;
}
.question-card > p:last-of-type {
    margin-bottom: 1.5rem;
}

/* ── Answer Button Grid ── */
.question-card > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

.score-text {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 2rem;
}

.score-response {
    margin-bottom: 3rem;
}

.answer-button, .next-button, .score-button, .play-button {
    width: 100%;
    padding: 0.75rem 0.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #009dff;
    transition: background-color 0.25s ease;
}

.answer-button:hover:not(:disabled) {
    background-color: rgba(0, 157, 255, 0.5);
}

.answer-button:disabled {
    cursor: default;
}

.answer-button.correct {
    background-color: #9EFD62;
    border-color: #5cb82e;
}

.answer-button.incorrect {
    background-color: #FF4545;
    border-color: #cc1f1f;
}

/* TODO: change color of "view score" button */
.next-button, .score-button, .play-button {
    max-width: 200px;
    background-color: #ff47b6;
}